* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Helvetica", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 99;
}
nav .wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-animation: x__zoom 0.4s 0.3s linear forwards;
          animation: x__zoom 0.4s 0.3s linear forwards;
}
nav .wrapper:before, nav .wrapper:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 25%;
  max-width: 150px;
  height: 300%;
  background-color: #1589FF;
  z-index: -1;
}
nav .wrapper:before {
  transform: rotate(-45deg) translate(0, -100%);
  -webkit-animation: x__in--left 0.3s 0.01s linear forwards;
          animation: x__in--left 0.3s 0.01s linear forwards;
}
nav .wrapper:after {
  transform: rotate(45deg) translate(0, -100%);
  -webkit-animation: x__in--right 0.3s 0.01s linear forwards;
          animation: x__in--right 0.3s 0.01s linear forwards;
}

ul.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  z-index: 100;
  transform: translate(-50%, -50%);
}
ul.menu li {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 12px;
  opacity: 0;
  transform: translateY(24px);
  -webkit-animation: x__menu--fade-in 0.2s 0.6s ease-out forwards;
          animation: x__menu--fade-in 0.2s 0.6s ease-out forwards;
}

button {
  position: fixed;
  bottom: 12px;
  left: 12px;
  padding: 8px 12px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: 0;
  z-index: 101;
}

@-webkit-keyframes x__in--left {
  100% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes x__in--left {
  100% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
@-webkit-keyframes x__in--right {
  100% {
    transform: rotate(45deg) translate(0, 0);
  }
}
@keyframes x__in--right {
  100% {
    transform: rotate(45deg) translate(0, 0);
  }
}
@-webkit-keyframes x__zoom {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(8);
  }
}
@keyframes x__zoom {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(8);
  }
}
@-webkit-keyframes x__menu--fade-in {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes x__menu--fade-in {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
