@charset "UTF-8";
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: helvetica;
img{
border:0;
margin:0;
padding:0;
max-width:590px;
width:expression(this.width>590?"590px":this.width);
max-height:590px;
height:expression(this.height>590?"590px":this.height);
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* 这里的值分别表示水平位移、垂直位移、模糊程度和透明度 */
border-radius: 20px; /* 单个参数时，四个角都被设置成相同的半径大小 */

}
img1{
border:0;
margin:0;
padding:0;
max-width:50px;
width:expression(this.width>590?"590px":this.width);
max-height:50px;
height:expression(this.height>590?"590px":this.height);
box-shadow: 0px 20px 0px rgba(0, 0, 0, 0); /* 这里的值分别表示水平位移、垂直位移、模糊程度和透明度 */


}
h1
{font-size: 32px;
  font-family: ;
  color: #D94600;
text-indent:0em;
text-shadow: 2px 2px 4px #000; /* 水平位移 2px，垂直位移 2px，模糊程度 4px，颜色为黑色 */
}

.card {
  background-color: #eee;
  padding: 50px;
  padding-left: 70px;
  border-radius: 5px;
  width: 720px;//卡片宽度;
  border-left: 7px solid #F22300;//红色边条;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);//卡片阴影边框;
  display: flex;
  flex-direction: column;
  position: relative;
}
.p{
font-size:20px;line-height: 1.5;
font-family: helvetica;
}
.card::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  color: silver;
  font-size: 150px;
  font-family: helvetica;
}

quote {
  font-size: 22px;
  font-family: "Comic Neue", cursive;
  color: #333;
text-indent:2em;
text-align:justify;
}
  #bottom-outer {
    color: #888;
    text-align: right;
    padding: 10px;
    padding-top: 40px;
    background-color: #;
    font-size: 14px;
    opacity:0.85;
}
  .name {
            display: inline; /* 确保名字显示在同一行 */
            line-height: 1.5em; /* 根据需求调整行高 */
            font-size: 14px; /* 根据需求调整字体大小 */
            margin-right: 1px; /* 根据需求调整右边距 */
        }

author {
  font-weight: bold;
  color: #FF8F59;
  align-self: flex-end;
  text-transform: uppercase;
font-size: 14px;
font-family:Arial;
text-indent:2em;

}

div > p:first-child{
background-color: ;
color: #000;
}
div > p:nth-child(2){
background-color:;
color: #FFFFFF;
}
div > p:nth-child(3){
background-color: ;
color: red;
}
div > p:nth-child(4){
background-color: ;
color: blue;
}

ul
{
list-style: square inside url('1.png')

}
ol
{
list-style: square inside url('2.png')

}

.triangle-1,
.triangle-2,
.triangle-3,
.triangle-4,
.triangle-5,
.triangle-6,
.triangle-7,
.triangle-9 {
  width: 400px;
  height: 400px;
  position: fixed;
}

.triangle-1 {
  background-color: #F22300;
  top: -100px;
  right: 0;
  transform: translate(50%, -50%) rotateZ(35deg);
  z-index: -1;
}

.triangle-2 {
  background-color: #AA1A04;
  top: -98px;
  right: 0;
  transform: translate(50%, -50%) rotateZ(29deg);
  z-index: -2;
}

.triangle-3 {
  width: 600px;
  background-color: #C41A00;
  top: -80px;
  right: 0;
  transform: translate(50%, -50%) rotateZ(24deg);
  z-index: -3;
}

.triangle-4 {
  width: 610px;
  background-color: #810D00;
  top: 0px;
  right: -20px;
  transform: translate(50%, -50%) rotateZ(60deg);
  z-index: -4;
}

.triangle-5 {
  width: 610px;
  background-color: #C4A6A2;
  top: 0px;
  right: 10px;
  transform: translate(50%, -50%) rotateZ(55deg);
  z-index: -5;
}

.triangle-6 {
  width: 610px;
  background-color: #E5DCDB;
  top: 0px;
  right: 50px;
  transform: translate(50%, -50%) rotateZ(49deg);
  z-index: -6;
}

.triangle-7 {
  width: 1000px;
  background-color: #F0F0F0;
  top: 0px;
  right: 50px;
  transform: translate(50%, -50%) rotateZ(60deg);
  z-index: -7;
}

.triangle-8 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #DCC6C4;
  bottom: 0px;
  right: 150px;
  transform: rotateZ(50deg);
}

.triangle-9 {
  overflow: hidden;
  width: 1000px;
  background-color: #E8D8D6;
  top: 100px;
  right: -100px;
  transform: translate(50%, -50%) rotateZ(79deg);
  z-index: -9;
}
