.landscape
  .sun
  .level.l1
    - (1..3).each do
      .windmill.s1
        .turbine
          .t.t1
          .t.t2
          .t.t3
  .level.l2
    - (1..3).each do
      .windmill.s2
        .turbine
          .t.t1
          .t.t2
          .t.t3
  .level.l3
    - (1..3).each do
      .windmill.s3
        .turbine
          .t.t1
          .t.t2
          .t.t3
  .level.l4
    - (1..3).each do
      .windmill.s4
        .turbine
          .t.t1
          .t.t2
          .t.t3